<footer>
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-sm-1"></div>
      <div class="col-sm-10"><hr style="height:2px; border:none; color:#000; background-color:red;">
          <b>New Jersey Institute of Technology<span class="pull-right">Contact Us | Map & Directions | A to Z</span></b><br>
             University Heights Newark, New Jersey 07102
          <span class="pull-right">
              <span>
                <img src="assets/images/facebook.gif" alt="Facebook">&nbsp;
                <img src="assets/images/twitter.gif" alt="Twitter">&nbsp;
                <img src="assets/images/youtube.gif" alt="Youtube">&nbsp;
                <img src="assets/images/flickr.gif" alt="Flickr">
              </span>
          </span> 
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</footer>