<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
        <div style="height:400px; background-image: url('./../../../assets/images/njit_bg5.jpg')">
          <p style="height:200px">&nbsp;</p>
          <h1 style="color:white">Thank you for registering NJIT</h1>
          <p style="height:50px">&nbsp;</p>
          <button type="button" mat-raised-button (click)="onSubmit()">&nbsp; Login &nbsp;</button>
          </div>
      </div>
    </div>