<div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">&nbsp;</div>
          </div>
          <div class="row">
              <div class="col-sm-12 text-center"><h4>Person List</h4></div>
          </div>
          <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8 table-overflow text-right">
                <!-- Filter Column -->
                 <mat-form-field class="full-width">
                  <span matSuffix><img width="30" height="25" src="assets/images/find_search.png"></span>
                  <input matInput (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
                            
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            
                  <!-- First Name Column -->
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
                  </ng-container>
                            
                  <!-- Last Name Column -->
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>
      
                  <!-- SSN Column -->
                  <ng-container matColumnDef="ssn">
                    <th mat-header-cell *matHeaderCellDef> SSN </th>
                    <td mat-cell *matCellDef="let element">
                      <a [routerLink]="['/personDetail', element.ssn]">{{element.ssn}}</a>
                    </td>
                  </ng-container>
                              
                  <!-- Birthday Column -->
                  <ng-container matColumnDef="birthDay">
                    <th mat-header-cell *matHeaderCellDef> Birthday </th>
                    <td mat-cell *matCellDef="let element">{{element.birthDay}}</td>
                  </ng-container>
                            
                  <!-- PersonType Column -->
                  <ng-container matColumnDef="personType">
                    <th mat-header-cell *matHeaderCellDef> PersonType </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngFor="let personType of personTypes">
                          <span *ngIf="personType.id==element.pertId">{{personType.type}}</span>
                        </span> 
                    </td>
                  </ng-container>

                  <!-- Phone Column -->
                  <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element; let i = index"> 
                        <span *ngFor="let item of element.phones; let num = index">
                          {{item.phone}}&nbsp; &nbsp;{{item.phoneType.type}}<br>
                        </span>            
                      </td>
                  </ng-container>

                  <!-- Delete Column -->
                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">&nbsp; &nbsp;
                      <a [routerLink]="" (click)="onClickDelete(element.id)"><img width="20" height="20" src="assets/images/delete.png"></a>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                </table>
      
              </div>  
              <div class="col-sm-2"></div>  
          </div>
</div> 
      